.body {
  display: flex;
  /* min-height: calc(100vh); */
  height: calc(100vh - 10rem);
  /* overflow: scroll; */
  overflow: hidden;
  position: relative;
  background-color: rgb(23, 23, 23);
  }

  .sidebar {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 1rem;
  }

  .sidebar_mobile {
    z-index: 3;
    position: absolute;
    left: 0;
    justify-self: center;
    margin: auto;
    width: 100%;
    top: 0;
  }

  .videos_container {
    margin: 1rem;
    width: 97.5%;
    height: 100%;
    padding-left: 230px;
    display: flex;
    position: absolute;
    /* overflow: scroll; */
  }

  .goback {
    z-index: 2;
    background-color: rgb(112, 112, 112);
    color: rgb(23, 23, 23);
    opacity: 0.2;
    /* position: absolute;
    top: 0.5rem;
    right: 0; */
    position: fixed;
    top: 12rem;
    /* right: calc((100vw - 1440px) / 2); */
    right: 0;
    cursor: pointer;
    height: 3rem;
    width: 6rem;
    text-align: center;
    padding: 0.7rem 0;
    border-radius: 0.5rem;
    transition: opacity 0.5s;
    }

    .goback:hover {
      transition: opacity 0.5s;
      opacity: 1;
    }


@media (min-width: 769px) {
  .goback {
    right: 0; 
  }
}

@media (max-width: 1023px) {
  .sidebar_mobile {
    display: none; 
  }
}

@media (max-width: 768px) {
  .body {
    display: grid;
    /* position: static; */
    /* make sidebar cover */
    overflow: scroll;
  }
  
  .sidebar {
    display: none;
  }

  /* .sidebar { */
    /* position: static; */
    /* make sidebar cover */
    /* justify-self: center;
    margin: auto;
    width: 100%;
    top: 0;
  } */

  .videos_container {
    position: static;
    justify-self: center;
    padding-left: 0;
  }
}

@media (max-width: 414px) {
  .body {
    height: calc(100vh - 7rem);
  }
}